.stationContainer {
	background-color: transparent;
	min-height: calc(100vh - 56px - 114px);
}

.mobStationStyle {
	background-color: #1e1b21;
}

.dropdownBoxArrow {
	border: solid #fff !important;
	border-width: 0 1.75px 1.75px 0 !important;
	width: 10px !important;
	height: 10px !important;
}

.thumbnailContainer {
	position: relative;
	display: block;
	width: 100%;
	padding-top: 100%;
	overflow: hidden;
}

.thumbnailContainer img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.coverContainer {
	background-color: #1e1b21;
}

.optionsCoverContainer {
	display: block;
	height: 100vh;
	background-color: #1e1b21;
	opacity: 0.9;
}

.coverCard,
.coverContainer {
	height: calc(100% - 56px) !important;
}

.titleContainer {
	width: 100%;
	overflow: hidden;
	position: relative;
}

.slidingText {
	width: fit-content;
	white-space: nowrap;
	margin-left: 20px;
	margin-right: 20px;
}

.maskedOverflow {
	/* scroll bar width, for use in mask calculations */
	--scrollbar-width: 8px;

	/* mask fade distance, for use in mask calculations */
	--mask-width: 20px;

	/* If content exceeds height of container, overflow! */
	overflow-x: auto;

	/* Our height limit */
	width: 100%;

	/* Need to make sure container has bottom space,
  		otherwise content at the bottom is always faded out */
	padding-right: var(--mask-width);

	/* Keep some space between content and scrollbar */
	/* padding-bottom: 20px; */

	/* The CSS mask */

	/* The content mask is a linear gradient from top to bottom */
	--mask-image-content: linear-gradient(to right, transparent, black var(--mask-width), black calc(100% - var(--mask-width)), transparent);

	/* Here we scale the content gradient to the width of the container 
  		minus the scrollbar width. The height is the full container height */
	--mask-size-content: 100% calc(100% - var(--scrollbar-width));

	/* The scrollbar mask is a black pixel */
	--mask-image-scrollbar: linear-gradient(black, black);

	/* The width of our black pixel is the width of the scrollbar.
  		The height is the full container height */
	--mask-size-scrollbar: 100% var(--scrollbar-width);

	/* Apply the mask image and mask size variables */
	mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
	mask-size: var(--mask-size-content), var(--mask-size-scrollbar);

	/* Position the content gradient in the top left, and the 
  		scroll gradient in the top right */
	mask-position: 0 0, 0 100%;

	/* We don't repeat our mask images */
	mask-repeat: no-repeat, no-repeat;
}

.guildNavContainer {
	background: #2c2a31;
	min-width: 96px;
}

.guildNavWrapper {
	flex: 1 1;
	flex-wrap: nowrap;
}

.guildNavWrapper > li {
	min-height: 0;
}

.guildNavBtnWrapper {
	background-color: transparent;
	border: none;
}

.btnPill {
	height: 16px;
	width: 5px;
	background-color: #6959cb;
	border-radius: 0 5px 5px 0;
}

.activeEffect .btnPill {
	background-color: #d185cd;
}

.btnCategoryWrapper {
	flex: 1 1;
	color: #8d819c;
}

.activeEffect .btnCategoryWrapper {
	color: #fff;
}

.btnCategoryArrow {
	border: solid #8d819c;
	border-width: 0 2px 2px 0;
	height: 7px;
	width: 7px;
	display: inline-block;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	display: none;
}

.activeEffect .btnCategoryArrow {
	border: solid #e0dde4;
	border-width: 0 2px 2px 0;
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.guildList {
	scrollbar-width: none;
	overflow-y: auto;
	margin: 0 12px;
}

.mutualContainer {
	padding: 6px 0;
}

.guildPill {
	position: absolute;
	display: none;
	width: 6px;
	height: 48px;
	border-radius: 0 8px 8px 0;
	transform: scaleY(0);
	transition: 0.2s ease;
	margin: 3px 0;
}

.activeGuild .guildPill {
	background-color: #d185cd !important;
	transform: scaleY(1) !important;
}

.mutualWrapper {
	overflow: hidden;
	flex: 1 1;
	padding: 5px;
	transition: 0.2s ease;
}

.icon {
	will-change: border-radius;
	border-radius: 50%;
	transition: border-radius 0.3s ease;
}

.iconContainer:hover .icon {
	border-radius: 12px;
}

.activeGuild .mutualWrapper .icon {
	border-radius: 12px;
}

.iconWrapper {
	display: flex;
	overflow: hidden;
	height: 54px;
	flex-shrink: 0;
	border-radius: 16px;
	width: 54px;
	border: 3px solid transparent;
	transition: border 0.2s ease;
}

.stationUnattended {
	overflow-y: auto;
	padding-top: 30px;
	word-break: break-word;
}

.stationController {
	background: linear-gradient(1turn, #5f365e, #473c54);
}

.stationControllerWrapper {
	padding: 10px 20px 10px 16px;
}

.trackControlSection {
	margin-left: auto;
}

.stationMutatorWrapper {
	height: 48px;
	margin-left: 6px;
	margin-right: 6px;
}

.mobStationPlusOptions,
.mobStationOption {
	position: relative;
	overflow: hidden;
}

.mobStationPlusOptions {
	background-color: transparent;
}

.mobGuildListContainer {
	margin-right: 3px;
}

.stationMutatorWrapper .btnFlash,
.mobCardMutator .btnFlash,
.mobGuildListContainer .btnFlash {
	will-change: background-color;
	position: absolute;
	transform: scale(1);
	animation: buttonFlash 0.5s ease;
	border-radius: 50%;
}

.mobStationPlusOptions .btnFlashRadiate,
.mobStationOption .btnFlashRadiate,
.mobStationQueueSave .btnFlashRadiate {
	will-change: opacity, transform;
	position: absolute; /* The absolute position we mentioned earlier */
	border-radius: 50%;
	transform: scale(0);
	animation: ripple 0.5s linear;
	background-color: rgba(255, 255, 255, 0.7);
}

.pauseMutatorWrapper {
	margin-left: 12px;
	margin-right: 12px;
	border-radius: 50%;
	background-color: var(--mob-palette-vibrant);
}

.pauseMutatorWrapper .btnFlash {
	will-change: background-color;
	animation: pauseButtonFlash 0.5s ease;
	border-radius: 50%;
}

.trackMutator {
	background-color: transparent;
	border: none;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	cursor: pointer;
	position: relative;
}

.trackAvailable .trackMutator,
.trackAvailable .queueMutator {
	color: #fff;
}

.trackAvailable .trackMutator:hover,
.trackAvailable .queueMutator:hover {
	color: #d185cd;
}

.trackEmpty .trackMutator,
.trackEmpty .queueMutator {
	opacity: 0.5;
	filter: invert(36%) sepia(20%) saturate(410%) hue-rotate(225deg) brightness(94%) contrast(93%);
	pointer-events: none;
}

.queueMutator {
	background-color: transparent;
	border: none;
}

.mutatorBtn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	padding: 6px 12px;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.mutatorBtn.activeEffect {
	color: #d185cd;
	background-color: transparent;
}

.mutatorBtn.activeAllEffect {
	color: #78a5e3;
	background-color: transparent;
}

.stationRightContainer {
	flex: 1 1;
	padding-top: 8px;
	position: relative;
}

.stationControlOption:not(:last-child) {
	margin-right: 4px;
}

.stationControlBtn {
	cursor: pointer;
	transition: all 0.2s ease;
	color: #8d819c;
	border: none;
	border-bottom: 2px solid transparent;
	background-color: transparent;
}

.activeControl.stationControlBtn {
	color: #d15e8f;
	border-color: #d15e8f;
	padding-bottom: 2px;
}

.stationControlBtnText {
	margin-left: 6px;
}

.stationQueueContainer {
	min-height: 0;
}

.stationQueueWrapper {
	background: #2c2a31;
	border-radius: 21px;
}

.stationQueue {
	overflow-y: auto;
}

.stationCurrentTrack {
	background: #2c2a31 !important;
	border-radius: 4px 0 0 4px;
}

.stationQueueTrack {
	border-bottom: 1px solid #2c2a31;
	background: #1e1b21;
}

.stationQueueTrackInfo {
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 180px;
	white-space: nowrap;
	display: inline-block;
}

.stationQueueTrackInfoRequester {
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 80px;
	white-space: nowrap;
	color: #ada5b6;
	margin-left: 4px;
}

.stationTrackThumbnail {
	flex-shrink: 0;
	background: #000 50% no-repeat;
	background-size: cover;
	height: 48px;
	width: 84px;
}

.stationTrackInfoWrapper {
	flex: 1 1;
}

a.stationTrackTitle {
	color: inherit;
	transition: color 265ms ease-out;
}

a.stationTrackTitle:hover {
	color: #d185cd !important;
}

.stationTrackRemoveBtn {
	transition: all 265ms ease-out;
}

.stationTrackRemoveBtn:hover {
	color: #d15e8f !important;
	transform: scale(1.2);
}

.stationTrackInfoRequester {
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 150px;
	white-space: nowrap;
}

.stationControllerSlider .sliderInputRange {
	height: 100%;
	max-height: 4px;
}

.inputRangeMin,
.inputRangeMax {
	display: none;
}

.stationControllerSlider .inputSliderContainer {
	height: 4px;
	background-color: #8d819c;
	overflow: hidden;
}

.stationControllerSlider .activeEffect {
	background: #d185cd;
	transition: 0.1s linear;
}

.stationControllerSlider .inputLabelContainer {
	transition: 0.1s linear;
}

.stationControllerSlider .inputLabel {
	display: none;
}

.inputSlider {
	position: absolute;
	background: #d15e8f;
	border: none;
	cursor: pointer;
	border-radius: 50%;
	margin: 0;
	transform: translate(-50%, calc(-50% - 2px)) scale(0);
	position: relative;
	z-index: 1;
	height: 12px;
	width: 12px;
	transition: 0.2s ease;
}

.stationControllerSlider:hover .inputSlider,
.mobSlider .inputSlider {
	transform: translate(-50%, calc(-50% - 2px)) scale(1);
}

.clipboardCopyAlert {
	position: absolute;
	top: 85%;
	left: 50%;
	transform: translate(-50%);
	background-color: #473c54;
	border-radius: 10px;
	opacity: 0;
	animation: hide 0.5s ease-in-out;
}

.baseToolTip {
	display: inline-block;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	background-color: #3b3842;
	position: relative;
	transition: visibility 0s linear 1s;
}

.toolTip {
	position: fixed;
	display: none;
	z-index: 1;
	left: 90px;
}

.activityToolTip {
	display: none;
}

.activityControlOption:hover .activityToolTip {
	visibility: visible;
}

.toolTip::after,
.activityToolTip::after {
	content: "";
	position: absolute;
	border: 6px solid transparent;
}

.toolTip::after {
	border-right-color: #3b3842;
	top: 50%;
	transform: translateY(-50%);
	right: 100%;
}

.activityToolTip::after {
	top: 100%;
	right: 4px;
	border-top-color: #3b3842;
}

.toolTipSm {
	font-family: Poppins, sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
	font-style: normal;
	letter-spacing: normal;
	padding: 4px 7px;
}

.toolTipLg {
	font-family: Poppins, sans-serif;
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
	font-style: normal;
	letter-spacing: normal;
	padding: 8px;
}

@media screen and (max-width: 425px) {
	.mobStationContainer.activeContainer {
		background-color: var(--mob-palette-darkVibrant, #1e1b21);
	}

	.stationControllerSlider {
		width: 80%;
		margin: auto;
	}

	.stationControllerSlider .sliderInputRange {
		height: 2px;
	}

	.stationControllerSlider .inputSliderContainer {
		height: 2px;
		position: relative;
	}

	.stationControllerSlider .inputSlider {
		position: relative;
		background: white;
	}

	.stationControllerSlider .activeEffect {
		background: white;
	}

	.activeAllEffect {
		color: #78a5e3;
		background-color: transparent;
	}

	.activeEffect {
		color: #d185cd;
		background-color: transparent;
	}
}

@media screen and (max-width: 768px) {
	.stationContainer {
		color: white;
	}
}

@media screen and (max-width: 425px) and (min-height: 800px) {
	.stationMutatorContainer {
		margin-bottom: 5vh;
	}
}

@media only screen and (min-width: 1024px) {
	.guildNavWrapper {
		width: 100%;
	}

	.guildNavBtnWrapper {
		background-color: #2c2a31;
		border: 1px solid #655a72;
	}

	.activeEffect {
		background-color: #473c54;
	}

	.btnCategoryWrapper {
		display: block !important;
	}

	.btnCategoryArrow {
		display: inline-block !important;
	}

	.guildList {
		margin: 0;
	}

	.mutualContainer {
		padding: 12px 0;
	}

	.guildPill {
		display: block;
		transform-origin: left;
		right: 90px;
	}

	.activeGuild .iconWrapper {
		border-color: #d185cd;
	}

	.mutualWrapper {
		margin: 0 auto;
		padding: 0;
		justify-content: center;
		background: none;
	}

	.mutualMobWrapper {
		display: none;
	}

	.iconContainer:hover .toolTip {
		display: inline-block;
	}

	.iconContainer:hover .guildPill {
		transform: scaleY(0.5);
		background-color: white;
	}

	.stationUnattended {
		max-width: 700px;
		padding-top: 0;
		margin: 120px auto 0;
		height: auto;
	}

	.stationController {
		height: 80px;
	}

	.stationControllerWrapper {
		padding-left: 32px;
		padding-right: 32px;
	}

	.trackDataSection {
		flex: 1 1;
	}

	.trackControlSection {
		margin-left: 0;
	}

	.trackMutator {
		min-height: 40px;
	}

	.queueControlSection {
		margin-top: 0;
		width: auto;
	}

	.stationContainer {
		min-width: 1px;
		display: flex;
		flex: 1 1;
	}

	.stationLeftContainer {
		flex: 1 0 50%;
		display: flex;
		justify-content: center;
		align-items: flex-end;
		overflow: auto;
	}

	.stationRightContainer {
		flex: 1 0 50%;
		min-width: 1px;
		padding: 40px 0 0 20px;
	}

	.stationControlOption:not(:last-child) {
		margin-right: 32px;
	}

	.activityToolTip {
		display: inline-block;
		visibility: hidden;
		position: absolute;
		width: 115px;
		bottom: calc(100% + 10px);
		z-index: 2;
		left: auto;
		right: 0;
		transform: none;
	}

	.stationControlSearch {
		padding: 12px 0;
	}

	.stationQueueContainer {
		margin-top: 30px;
	}

	.stationQueueInfo {
		padding-right: 30px;
	}

	.stationQueueTrackInfo {
		text-overflow: ellipsis;
		overflow: hidden;
		max-width: 300px;
		white-space: nowrap;
	}

	.stationQueueTrackInfoRequester {
		text-overflow: ellipsis;
		overflow: hidden;
		max-width: 150px;
		white-space: nowrap;
	}

	.stationTrackInfoWrapper {
		flex: 1 1;
		min-width: 1px;
	}

	.stationTrackTitleWrapper {
		display: flex;
		min-width: 1px;
		position: relative;
	}

	.stationTrackTitle {
		text-overflow: ellipsis;
		overflow: hidden;
		max-width: 100%;
		white-space: nowrap;
		display: inline-block;
	}

	.stationTrackInfoDivider {
		height: 4px;
		width: 4px;
		margin: 0 12px;
	}
}

.stationTrackInfoDivider {
	height: 3px;
	width: 3px;
	border-radius: 50%;
	background-color: #ada5b6;
	display: inline-block;
}

.mobStationUserIcon {
	max-width: 40px;
}

.mobStationGuild {
	border-bottom: 1px solid #3b3842;
}

.mobStationGuildIcon {
	max-width: 48px;
}

.mobStationOptionsContainer .mobStationGuildIcon,
.mobStationOption .mobStationOptionWrapper {
	max-width: 42px;
}

.mobStationOption .mobStationOptionWrapper {
	overflow: hidden;
}

.mobGuild {
	background-color: transparent;
}

.guildActive {
	/* --mob-guild-select-default: rgba(255, 255, 255, 0.05); */
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 8px;
}

.mobStationOptionsContainer {
	background-color: #2c2a31;
}

.mobStationPlusOptionsContainer,
.mobStationOptionsContainer {
	animation-delay: 0.3s;
}

.mobStationPlusOptionsContainer.activeContainer {
	position: relative;
	background-color: var(--mob-palette-vibrant);
	animation: pullUp 0.5s ease-in-out;
}

.mobStationPlusOptionsContainer::before {
	will-change: transform;
	position: absolute;
	content: "";
	width: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 2px solid #ada5b6;
	border-radius: 2px;
}

.mobStationPlusOptionsContainer.activeStationOptions {
	bottom: 0 !important;
}

/* .mobStationPlusOptions.activeContainer::after {
	will-change: transform;
	position: absolute;
	content: "";
	height: 2px;
	width: 100%;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: white;
} */

.activeOptionsContainer > .tabList {
	position: relative;
	display: flex;
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.activeOptionsContainer > .tabList::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	scale: var(--_width, 0.5) 1;
	translate: var(--_left, 0) 0;
	transform-origin: left;
	transition: scale 200ms, translate 200ms;
	background: white;
}

.mobStationPlusContainer::after {
	content: "";
	position: absolute;
	top: 100%;
	width: calc(100% - 6px);
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.mobStationPlusContainer .mobStationOption {
	background-color: var(--mob-palette-vibrant);
}

.mobStationQueueSave {
	background-color: rgba(255, 255, 255, 0.1)!important;
}

.mobStationContainer.activeContainer {
	height: calc(100% - 56px) !important;
}

.unattendedContainer.activeContainer,
.coverContainer.activeContainer,
.optionsCoverContainer.activeContainer,
.mobStationContainer.activeContainer {
	height: 100vh;
	will-change: transform;
	animation: pullUp 0.5s ease-in-out;
}

.mobStationPlusOptionsContainer.activeOptionsContainer {
	height: 100vh;
	will-change: transform;
	animation: dynamicPullUp 0.5s ease-in-out;
}

.mobStationContainer.activeContainer.stationOptionPlus {
	height: auto;
}

.mobStationOptionsContainer.activeContainer {
	will-change: transform;
	animation: pullUp 0.5s ease-in-out;
}

.mobStationContainer.deactiveContainer,
.unattendedContainer.deactiveContainer,
.coverContainer.deactiveContainer,
.mobStationPlusOptionsContainer.deactiveContainer,
.mobStationOptionsContainer.deactiveContainer,
.optionsCoverContainer.deactiveContainer {
	will-change: transform;
	animation: pullDown 0.5s ease-in-out;
}

.mobStationPlusOptionsContainer.deactiveOptionsContainer {
	will-change: transform, background-color;
	animation: dynamicPullDown 0.5s ease-in-out;
}

.mobStationWrapper {
	/* --mob-white10: rgba(255, 255, 255, 0.1); */
	background-color: #2c2a31;
}

.activeContainer .mobStationWrapper.activeWrapper {
	background-color: var(--mob-palette-vibrant);
}

@keyframes pullUp {
	0% {
		transform: translateY(100vh);
	}

	100% {
		transform: translateY(0%);
	}
}

@keyframes dynamicPullUp {
	0% {
		transform: translateY(var(--mob-dynamic-centerY));
	}

	100% {
		transform: translateY(0%);
	}
}

@keyframes pullDown {
	0% {
		transform: translateY(0%);
	}

	100% {
		transform: translateY(100vh);
	}
}

@keyframes dynamicPullDown {
	0% {
		transform: translateY(0%);
	}

	100% {
		transform: translateY(var(--mob-dynamic-centerY));
	}
}

@keyframes dynamicLayer {
	0% {
		background-color: var(--mob-palette-darkVibrant);
	}
	100% {
		background-color: #1e1b21;
	}
}

.hide {
	will-change: opacity;
	opacity: 0;
	animation: hide 0.2s ease-in-out;
}

@keyframes hide {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

.show {
	will-change: opacity;
	opacity: 1;
	animation: show 0.5s ease-in-out;
}

@keyframes show {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes buttonFlash {
	0% {
		background-color: transparent;
	}

	50% {
		background-color: rgba(255, 255, 255, 0.1);
	}

	100% {
		background-color: transparent;
	}
}

@keyframes pauseButtonFlash {
	0% {
		background-color: transparent;
	}

	50% {
		background-color: var(--mob-palette-vibrant-p50);
	}

	100% {
		background-color: transparent;
	}
}

@keyframes ripple {
	from {
		transform: scale(0);
		opacity: 1;
	}
	to {
		transform: scale(4);
		opacity: 0;
	}
}

.WIP {
	position: relative;
}

.WIP::after {
	content: "WIP";
	display: inline-block;
	color: #fff;
	background-color: #d15e8f;
	border-radius: 5px;
	padding: 1px 5px 1px 5px;
	margin-left: 5px;
}