/* utility class (text styles) that can be re-used across multiple components */
.defaultFamily {
	font-family: var(--font-jPoppins);
	font-style: normal;
	letter-spacing: normal;
}

.fontType14 {
	font-family: var(--font-jPoppins);
	font-size: 10px;
	font-weight: 400;
	line-height: 1.5;
	font-style: normal;
	letter-spacing: normal;
}

.fontType1,
.fontType11,
.fontType12 {
	font-family: var(--font-jPoppins);
	font-size: 12px;
	font-weight: 400;
	line-height: 1.5;
	font-style: normal;
	letter-spacing: normal;
}

.fontType2 {
	font-family: var(--font-jPoppins);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
	font-style: normal;
	letter-spacing: normal;
}

.fontType3,
.fontType7,
.fontType13 {
	font-family: var(--font-jPoppins);
	line-height: 1.5;
	font-style: normal;
	letter-spacing: normal;
	font-size: 16px;
	font-weight: 400;
}

.fontType4 {
	font-family: var(--font-jPoppins);
	line-height: 1.5;
	font-style: normal;
	letter-spacing: normal;
	font-size: 18px;
	font-weight: 400;
}

.fontType5,
.fontType6,
.fontType15 {
	font-family: var(--font-jPoppins);
	line-height: 1.5;
	font-style: normal;
	letter-spacing: normal;
	font-size: 20px;
	font-weight: 400;
}

.fontType8 {
	font-family: var(--font-jPoppins);
	line-height: 1.5;
	font-style: normal;
	letter-spacing: normal;
	font-size: 22px;
	font-weight: 400;
}

.fontType9 {
	font-family: var(--font-jPoppins);
	line-height: 1.5;
	font-style: normal;
	letter-spacing: normal;
	font-size: 24px;
	font-weight: 400;
}

.fontType10 {
	font-family: var(--font-jPoppins);
	line-height: 1.5;
	font-style: normal;
	letter-spacing: normal;
	font-size: 2rem;
	font-weight: 300;
}

.fontAdjust1 {
	font-family: var(--font-jPoppins);
	line-height: 1.2;
	font-style: normal;
	font-size: 6rem;
	font-weight: 300;
	color: #ddaedb;
	filter: drop-shadow(0 0 5px black);

}

.fontAdjust2 {
	font-family: var(--font-jPoppins);
	font-style: normal;
	letter-spacing: 1.5px;

}

.fontAdjust3 {
	font-family: var(--font-jPoppins);
	font-style: normal;
	letter-spacing: 3.2px;
}

.colorAdjust1 {
	color: #ada5b6 !important;
}

.colorAdjust2 {
	color: #e0dde4 !important;
}

.colorAdjust4 {
	color: #d2cdda !important;
}

.colorAdjust3 {
	color: white !important;
}

.truncate {
	display: inline-block;
	max-width: 200px; /* Adjust the maximum width as needed */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.lineClamp1 {
	display: -webkit-box;
	-webkit-line-clamp: 2; /* truncates at the second line */
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.z1 {
	/* z-index: 1!important; */
	position: relative!important;
}

.z9 {
	/* z-index: 9!important; */
	position: relative!important;
}

.z99 {
	/* z-index: 99!important; */
	position: relative!important;
}

.z999 {
	/* z-index: 999!important; */
	position: relative!important;
}

.zN1 {
	/* z-index: -1!important; */
	position: absolute!important;
}

.zN99 {
	/* z-index: -99!important; */
	position: absolute!important;
}

.zN999 {
	/* z-index: -999!important; */
	position: absolute!important;
}

.mnw10px {
	min-width: 10px!important;
}

.mnw24px {
	min-width: 24px!important;
}

.mnh24px {
	min-height: 24px!important;
}

.mn24px {
	min-width: 24px!important;
	min-height: 24px!important;
}

.mn36px {
	min-width: 36px!important;
	min-height: 36px!important;
}

.mx36px {
	max-width: 36px!important;
	max-height: 36px!important;
}

.m48px {
	max-width: 48px!important;
	min-width: 48px!important;
	max-height: 48px!important;
	min-height: 48px!important;
}

.hidden {
	opacity: 0;
}

.hiddenAnimation {
	animation: hide 0.5s ease-in-out;
}

.show {
	opacity: 1;
}

.showAnimation {
	animation: show 0.5s ease-in-out;
}

.posAbs {
	position: absolute!important;
}

@media screen and (max-width: 600px) {
	.fontAdjust1 {
		font-size: 3rem;
	}

	.fontAdjust2 {
		font-size: 1rem;
	}
}

@media screen and (min-width: 600px) {
	.fontAdjust1 {
		font-size: 4rem;
	}

	.fontType1,
	.fontType3 {
		font-size: 15px;
	}
}

@media only screen and (max-width: 1024px) {
	.fontType7 {
		font-size: 15px;
	}
}

@media only screen and (min-width: 1024px) {
	.fontType12 {
		font-size: 14px;
	}

	.fontType2 {
		font-size: 16px;
	}

	.fontType3 {
		font-size: 17px;
	}

	.fontType6,
	.fontType7 {
		font-size: 16px;
	}

	.fontType13 {
		font-size: 20px;
	}

	.fontType8,
	.fontType15 {
		font-size: 24px;
	}

	.fontType9 {
		font-size: 32px;
	}
}

@media screen and (min-width: 1440px) {
	.fontType2 {
		font-size: 16px;
	}

	.fontType3 {
		font-size: 20px;
	}
}

@media screen and (min-width: 2560px) {
	.fontAdjust1 {
		font-size: 6rem;
	}

	.fontType3 {
		font-size: 20px;
	}
}

@keyframes hide {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes show {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}